* {
    box-sizing: border-box;
    user-select: none;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ffd6ff, #e7c6ff, #c8b6ff, #b8c0ff, #bbd0ff);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
  color: white;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  a{
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: crosshair;
  }

  a:hover{
    color: #ff00ff;
  }

  h2{
    text-align: center;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }

  .video,
  .debug {
    margin: 0 auto;
    animation: float 2s ease-in-out infinite;

  }

  #video-container {
    width: 200px;
    height: 200px;
    position: relative;
  }

  video{
    box-shadow: 0 0 10px rgba(207, 63, 255, 0.5);
  }

  #pose-video {
    transform: scaleX(-1);
    border-radius: 50%;
  }
  #image {
    position: absolute;
    top: 40%;
    left: 44%;

  }

  .description{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  footer{
    text-align: center;
    margin-bottom: 20px;
    /* stick to bottom of page */
    position: fixed;
    bottom: 0;
    width: 100%;

  }

/*  phone media query: */
@media only screen and (max-width: 600px) {
  
  
  #image {
    top: 40%;
    left: 30%;
  }
}
