* {
    box-sizing: border-box;
    user-select: none;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }

  .video,
  .debug {
    padding: 0 20px;
  }

  #video-container {
    width: 200px;
    height: 200px;
    position: relative;
  }

  #pose-video {
    transform: scaleX(-1);
    border-radius: 50%;
  }
  #image {
      position: absolute;
  }
